resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: cert-manager-cred
    data:
      credentials.json: <path:projects/270970919647/secrets/homelab-dns-credentials#homelab-dns-credentials>
      # credentials.json: ref+gcpsecrets://staffops-prd/homelab-dns-credentials
