resources:
  - apiVersion: external-secrets.io/v1alpha1
    kind: ExternalSecret
    metadata:
      name: external-dns-cred
    spec:
      secretStoreRef:
        kind: ClusterSecretStore
        name: staffops-store
      target:
        name: external-dns-cred
      data:
      - secretKey: credentials.json
        remoteRef:
          key: homelab-dns-credentials