resources:
- apiVersion: v1
  kind: Secret
  metadata:
    name: cert-manager-cred
  type: Opaque
  data:
    credentials.json: <path:projects/270970919647/secrets/homelab-dns-credentials#homelab-dns-credentials>
