resources:
  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: external-dns-cred
    spec:
      externalSecretSpec:
        secretStoreRef:
          kind: SecretStore
          name: gcp-dns-cred
        target:
          name: external-dns-cred
        data:
        - secretKey: credentials.json
          remoteRef:
            key: homelab-dns-credentials